<h2> About me </h2>

<p>
  A few informations about the author of this application.
</p>

<p>
  <strong> Name: </strong>
  Thaylla de Santana
  <br>
  <strong> RA: </strong>
  0050832011031
  <br>
  <strong> Github: </strong>
  You can analyze the code on 
  <a href="https://github.com/thayllaa/ServicesApplication" target="_blank">
    thayllaa/ServicesApplication
  </a>
</p>

<h2> Timer </h2>
{{timer.getCount()}}s 
<br>
<button (click)="timer.start(1000)"> Start </button>
<button (click)="timer.stop()"> Stop </button>