<h2> Home - Activity of the Day </h2>

<p>
<strong> Instruções </strong><br>
Crie um projeto de aplicação web com sua identificação (nome completo e RA) no cabeçalho e os seguintes recursos:
<br>
<br>- Um serviço de temporizador: um componente que permita iniciar e parar o temporizador com um intervalo definido pelo usuário.<br>
<br>- Um serviço para prover uma lista de disciplinas matriculadas (nome, diaDaSemana e horário), já populada com as disciplinas que você está cursando neste semestre.<br>
<br>- Um componente que permita listar e manipular (incluir e remover) sua lista de disciplinas.
</p>

<h2> Timer </h2>
{{timer.getCount()}}s 
<br>
<button (click)="timer.start(1000)"> Start </button>
<button (click)="timer.stop()"> Stop </button>